@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

.card-bg{
  background-color: #42414E;
}

.media{
  margin: 0 !important;
}

.card-content{
  padding: 15px;
  height: 90px;
}

.card:hover{
  outline: 2px solid gray;
}

.button{
  border-radius: 20px;
  height: 35px;
  background-color: #FCC43C;
  color: #362E1E;
}

.button:hover{
  background-color: #ffb700be;
}

.navbar{
  background-color: #2D2D2C;
  height: 70px;
}

#user{
  text-decoration: underline;
  font-size: 20px;
  padding: 10px;
}

.pestPic {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.pestPic::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./pest_pic.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: 0;
}

.pestPic > * {
  position: relative;
  z-index: 1;
}

.welcome{
  font-family: Impact, sans-serif;
  font-size: 70px;
  color: rgb(216, 216, 216);
  margin-top: 10px;
  margin-bottom: 30px;
}

.datepicker{
  background-color: white;
  height: 10em;
  width: 30em;
  border-radius: 10px;
}

.title{
  font-size: large;
}
