@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

.card-bg{
  background-color: #42414E;
}

.media{
  margin: 0 !important;
}

.card-content{
  padding: 15px;
  height: 90px;
}

.card:hover{
  outline: 2px solid gray;
}

.button{
  border-radius: 20px;
  height: 35px;
  background-color: #FCC43C;
  color: #362E1E;
}

.button:hover{
  background-color: #ffb700be;
}

.navbar{
  background-color: #2D2D2C;
  height: 70px;
}

#user{
  text-decoration: underline;
  font-size: 20px;
  padding: 10px;
}

.pestPic {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.pestPic::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./pest_pic.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: 0;
}

.pestPic > * {
  position: relative;
  z-index: 1;
}

.welcome{
  font-family: Impact, sans-serif;
  font-size: 5vw;
  color: rgb(216, 216, 216);
  margin-top: 10px;
  margin-bottom: 30px;
}

.datepicker{
  background-color: white;
  height: 200px;
  width: 40vw;
  border-radius: 10px;
}

.title{
  font-size: large;
}

.datepick{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(235, 235, 235);
  padding: 10px;
}

.datepick:hover{
  background-color: rgb(226, 225, 237);
}

.datepick:focus{
  outline: 1px solid black;
}

.dateSearch{
  height: 45px;
  margin-top: 30px;
  background-color: #FCC43C;
  border-radius: 10px;
  color: black;
}

.dateSearch:hover{
  background-color: #b17f00be;
}

.dateError{
  outline: 2px solid red
}

.loginError{
  outline: 2px solid red
}

.mainDivReserve{
  margin-top: 80px;
}

.reserveForm{
  width: 40vw;
  background-color: black;
  padding: 60px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.reserveInput{
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.reserveInput:focus{
  outline: 2px solid #ffbf1d;
  transition-duration: 0.15s;
}

.carImage{
  width: 30vw;
  border: 3px solid #42414E;
  border-radius: 10px;
}

.details{
  width: 70%;
  margin-top: 30px;
}

.detailtext{
  text-align: center;
  color: white;
  font-size: 1.5vw;
}

h2{
  color: white;
  font-size: 3vw;
  font-weight: 800;
}

.line{
  width: 70%;
  background-color: rgb(141, 141, 141);
  margin: 50px 0 50px 0;
}

.pricetag {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #42414E;
  padding: 0.7vw 2.2vw;
  border-top-left-radius: 2vw;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  color: white;
  font-size: 2.4vw;
}

.per-day {
  color: gray;
  font-size: 0.6em;
  margin-left: 4px;
}

.loginMainDiv{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
}

.reservations{
  margin-top: 80px;
}

.restitle{
  margin-bottom: 30px;
  color: white;
}

.adminNavDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.adminbuttons{
  gap: 50px;
  margin-bottom: 50px;
}
